aiohappyeyeballs==2.4.4 ; python_full_version == "3.12.7"
aiohttp==3.11.10 ; python_full_version == "3.12.7"
aiosignal==1.3.2 ; python_full_version == "3.12.7"
attrs==24.3.0 ; python_full_version == "3.12.7"
certifi==2024.12.14 ; python_full_version == "3.12.7"
charset-normalizer==3.4.0 ; python_full_version == "3.12.7"
colorama==0.4.6 ; python_full_version == "3.12.7" and platform_system == "Windows"
datasets==3.2.0 ; python_full_version == "3.12.7"
dill==0.3.8 ; python_full_version == "3.12.7"
einops==0.8.0 ; python_full_version == "3.12.7"
filelock==3.16.1 ; python_full_version == "3.12.7"
frozenlist==1.5.0 ; python_full_version == "3.12.7"
fsspec==2024.9.0 ; python_full_version == "3.12.7"
fsspec[http]==2024.9.0 ; python_full_version == "3.12.7"
hf-transfer==0.1.8 ; python_full_version == "3.12.7"
huggingface-hub==0.27.0 ; python_full_version == "3.12.7"
idna==3.10 ; python_full_version == "3.12.7"
jinja2==3.1.4 ; python_full_version == "3.12.7"
joblib==1.4.2 ; python_full_version == "3.12.7"
markupsafe==3.0.2 ; python_full_version == "3.12.7"
mpmath==1.3.0 ; python_full_version == "3.12.7"
multidict==6.1.0 ; python_full_version == "3.12.7"
multiprocess==0.70.16 ; python_full_version == "3.12.7"
networkx==3.4.2 ; python_full_version == "3.12.7"
numpy==1.26.4 ; python_full_version == "3.12.7"
nvidia-cublas-cu12==12.4.5.8 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.12.7"
nvidia-cuda-cupti-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.12.7"
nvidia-cuda-nvrtc-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.12.7"
nvidia-cuda-runtime-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.12.7"
nvidia-cudnn-cu12==9.1.0.70 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.12.7"
nvidia-cufft-cu12==11.2.1.3 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.12.7"
nvidia-curand-cu12==10.3.5.147 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.12.7"
nvidia-cusolver-cu12==11.6.1.9 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.12.7"
nvidia-cusparse-cu12==12.3.1.170 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.12.7"
nvidia-nccl-cu12==2.21.5 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.12.7"
nvidia-nvjitlink-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.12.7"
nvidia-nvtx-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.12.7"
packaging==24.2 ; python_full_version == "3.12.7"
pandas==2.2.3 ; python_full_version == "3.12.7"
pillow==11.0.0 ; python_full_version == "3.12.7"
propcache==0.2.1 ; python_full_version == "3.12.7"
pyarrow==18.1.0 ; python_full_version == "3.12.7"
python-dateutil==2.9.0.post0 ; python_full_version == "3.12.7"
pytz==2024.2 ; python_full_version == "3.12.7"
pyyaml==6.0.2 ; python_full_version == "3.12.7"
regex==2024.11.6 ; python_full_version == "3.12.7"
requests==2.32.3 ; python_full_version == "3.12.7"
safetensors==0.4.5 ; python_full_version == "3.12.7"
scikit-learn==1.6.0 ; python_full_version == "3.12.7"
scipy==1.14.1 ; python_full_version == "3.12.7"
sentence-transformers==3.3.1 ; python_full_version == "3.12.7"
setuptools==75.6.0 ; python_full_version == "3.12.7"
six==1.17.0 ; python_full_version == "3.12.7"
sympy==1.13.1 ; python_full_version == "3.12.7"
threadpoolctl==3.5.0 ; python_full_version == "3.12.7"
tokenizers==0.21.0 ; python_full_version == "3.12.7"
torch==2.5.1 ; python_full_version == "3.12.7"
tqdm==4.67.1 ; python_full_version == "3.12.7"
transformers==4.47.0 ; python_full_version == "3.12.7"
triton==3.1.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.12.7"
typing-extensions==4.12.2 ; python_full_version == "3.12.7"
tzdata==2024.2 ; python_full_version == "3.12.7"
urllib3==2.2.3 ; python_full_version == "3.12.7"
xxhash==3.5.0 ; python_full_version == "3.12.7"
yarl==1.18.3 ; python_full_version == "3.12.7"
