@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

@layer components {
  .description-text {
    @apply text-[#6C7A8A] leading-[22.4px];
  }
  .tabButtonSelected::after {
    @apply absolute -bottom-1 left-0 w-full h-0.5 bg-greenBg;
    content: '';
  }
  .landing-container {
    @apply max-w-[1440px] w-full mx-auto xl:px-16 lg:px-12 md:px-8 sm:px-6 px-4;
  }
  .chart-title {
    @apply text-lg text-passiveLinkColor text-center leading-[22px];
  }
}

.text-rotation {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.features-gradient-bg {
  background: linear-gradient(180deg, #30a689 0%, #299379 100%);
}

.data-card-bg {
  background: linear-gradient(180deg, #6abdaa 0%, #146f58 100%);
}

.wobble-image {
  perspective: 1000px; /* Adjust this value for more/less depth */
}
.wobble-image img {
  transition: transform 0.5s; /* Smooth transition for the transform effect */
  transform-origin: center; /* Ensures the transformation is centered */
}
.wobble-image:hover img {
  transform: rotate3d(
    1,
    1,
    0,
    5deg
  ); /* This creates a more complex wobble effect */
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.hideScrollbar {
  scrollbar-width: none; /* Firefox */
}

.onboarding-gradient {
  background: linear-gradient(
    223.7deg,
    #e1f6ef -2.54%,
    #ffffff 22.44%,
    #e7f2ee 63.25%,
    #fff4e4 113.1%
  );
}
