adlfs==2024.7.0 ; python_version >= "3.10" and python_version < "3.12"
aiohappyeyeballs==2.3.4 ; python_version >= "3.10" and python_version < "3.12"
aiohttp==3.10.0 ; python_version >= "3.10" and python_version < "3.12"
aiolimiter==1.1.0 ; python_version >= "3.10" and python_version < "3.12"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
alembic==1.13.2 ; python_version >= "3.10" and python_version < "3.12"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.12"
anyio==4.4.0 ; python_version >= "3.10" and python_version < "3.12"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "3.11"
attrs==23.2.0 ; python_version >= "3.10" and python_version < "3.12"
azure-core==1.30.2 ; python_version >= "3.10" and python_version < "3.12"
azure-datalake-store==0.0.53 ; python_version >= "3.10" and python_version < "3.12"
azure-identity==1.17.1 ; python_version >= "3.10" and python_version < "3.12"
azure-storage-blob==12.21.0 ; python_version >= "3.10" and python_version < "3.12"
cachetools==5.4.0 ; python_version >= "3.10" and python_version < "3.12"
certifi==2024.7.4 ; python_version >= "3.10" and python_version < "3.12"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.12"
cloudpickle==3.0.0 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
coloredlogs==14.0 ; python_version >= "3.10" and python_version < "3.12"
croniter==3.0.3 ; python_version >= "3.10" and python_version < "3.12"
cryptography==43.0.0 ; python_version >= "3.10" and python_version < "3.12"
cuid2==2.0.1 ; python_version >= "3.10" and python_version < "3.12"
curlify2==2.0.0 ; python_version >= "3.10" and python_version < "3.12"
dagster-cloud-cli==1.8.4 ; python_version >= "3.10" and python_version < "3.12"
dagster-cloud==1.8.4 ; python_version >= "3.10" and python_version < "3.12"
dagster-k8s==0.24.4 ; python_version >= "3.10" and python_version < "3.12"
dagster-pipes==1.8.4 ; python_version >= "3.10" and python_version < "3.12"
dagster-polars==0.24.4 ; python_version >= "3.10" and python_version < "3.12"
dagster==1.8.4 ; python_version >= "3.10" and python_version < "3.12"
datasets==2.14.4 ; python_version >= "3.10" and python_version < "3.12"
dill==0.3.7 ; python_version >= "3.10" and python_version < "3.12"
diskcache==5.6.3 ; python_version >= "3.10" and python_version < "3.12"
distro==1.9.0 ; python_version >= "3.10" and python_version < "3.12"
docstring-parser==0.16 ; python_version >= "3.10" and python_version < "3.12"
exceptiongroup==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
filelock==3.15.4 ; python_version >= "3.10" and python_version < "3.12"
frozenlist==1.4.1 ; python_version >= "3.10" and python_version < "3.12"
fsspec==2024.6.1 ; python_version >= "3.10" and python_version < "3.12"
fsspec[http]==2024.6.1 ; python_version >= "3.10" and python_version < "3.12"
github3-py==4.0.1 ; python_version >= "3.10" and python_version < "3.12"
google-auth==2.32.0 ; python_version >= "3.10" and python_version < "3.12"
greenlet==3.0.3 ; python_version < "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.10"
grpcio-health-checking==1.62.2 ; python_version >= "3.10" and python_version < "3.12"
grpcio==1.64.1 ; python_version >= "3.10" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.12"
httpcore==1.0.5 ; python_version >= "3.10" and python_version < "3.12"
httpx==0.25.2 ; python_version >= "3.10" and python_version < "3.12"
huggingface-hub==0.24.5 ; python_version >= "3.10" and python_version < "3.12"
humanfriendly==10.0 ; python_version >= "3.10" and python_version < "3.12"
idna==3.7 ; python_version >= "3.10" and python_version < "3.12"
interegular==0.3.3 ; python_version >= "3.10" and python_version < "3.12"
isodate==0.6.1 ; python_version >= "3.10" and python_version < "3.12"
jinja2==3.1.4 ; python_version >= "3.10" and python_version < "3.12"
json-repair==0.28.0 ; python_version >= "3.10" and python_version < "3.12"
jsonpickle==3.2.2 ; python_version >= "3.10" and python_version < "3.12"
jsonschema-specifications==2023.12.1 ; python_version >= "3.10" and python_version < "3.12"
jsonschema==4.23.0 ; python_version >= "3.10" and python_version < "3.12"
kubernetes==30.1.0 ; python_version >= "3.10" and python_version < "3.12"
lark==1.1.9 ; python_version >= "3.10" and python_version < "3.12"
llvmlite==0.43.0 ; python_version >= "3.10" and python_version < "3.12"
mako==1.3.5 ; python_version >= "3.10" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==2.1.5 ; python_version >= "3.10" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.12"
mistralai==0.1.8 ; python_version >= "3.10" and python_version < "3.12"
msal-extensions==1.2.0 ; python_version >= "3.10" and python_version < "3.12"
msal==1.30.0 ; python_version >= "3.10" and python_version < "3.12"
multidict==6.0.5 ; python_version >= "3.10" and python_version < "3.12"
multiprocess==0.70.15 ; python_version >= "3.10" and python_version < "3.12"
nest-asyncio==1.6.0 ; python_version >= "3.10" and python_version < "3.12"
numba==0.60.0 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.12"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "3.12"
openai==1.37.1 ; python_version >= "3.10" and python_version < "3.12"
orjson==3.10.6 ; python_version >= "3.10" and python_version < "3.12"
outlines==0.0.46 ; python_version >= "3.10" and python_version < "3.12"
packaging==24.1 ; python_version >= "3.10" and python_version < "3.12"
pandas==2.2.1 ; python_version >= "3.10" and python_version < "3.12"
pex==2.13.1 ; python_version >= "3.10" and python_version < "3.12"
pgvector==0.2.5 ; python_version >= "3.10" and python_version < "3.12"
polars==0.20.31 ; python_version >= "3.10" and python_version < "3.12"
portalocker==2.10.1 ; python_version >= "3.10" and python_version < "3.12"
prompt-toolkit==3.0.36 ; python_version >= "3.10" and python_version < "3.12"
protobuf==4.25.4 ; python_version >= "3.10" and python_version < "3.12"
psutil==6.0.0 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
psycopg-binary==3.2.1 ; python_version >= "3.10" and python_version < "3.12"
psycopg==3.2.1 ; python_version >= "3.10" and python_version < "3.12"
pyairports==2.1.1 ; python_version >= "3.10" and python_version < "3.12"
pyarrow==14.0.2 ; python_version >= "3.10" and python_version < "3.12"
pyasn1-modules==0.4.0 ; python_version >= "3.10" and python_version < "3.12"
pyasn1==0.6.0 ; python_version >= "3.10" and python_version < "3.12"
pycountry==24.6.1 ; python_version >= "3.10" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.10" and python_version < "3.12"
pydantic-core==2.20.1 ; python_version >= "3.10" and python_version < "3.12"
pydantic==2.8.2 ; python_version >= "3.10" and python_version < "3.12"
pygments==2.18.0 ; python_version >= "3.10" and python_version < "3.12"
pyjwt[crypto]==2.9.0 ; python_version >= "3.10" and python_version < "3.12"
pyreadline3==3.4.1 ; sys_platform == "win32" and python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.12"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "3.12"
pytz==2024.1 ; python_version >= "3.10" and python_version < "3.12"
pywin32==306 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.12"
questionary==2.0.1 ; python_version >= "3.10" and python_version < "3.12"
referencing==0.35.1 ; python_version >= "3.10" and python_version < "3.12"
requests-oauthlib==2.0.0 ; python_version >= "3.10" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.12"
rich==13.7.1 ; python_version >= "3.10" and python_version < "3.12"
rpds-py==0.19.1 ; python_version >= "3.10" and python_version < "3.12"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.12"
setuptools==72.1.0 ; python_version >= "3.10" and python_version < "3.12"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
sqlalchemy==2.0.31 ; python_version >= "3.10" and python_version < "3.12"
structlog==24.4.0 ; python_version >= "3.10" and python_version < "3.12"
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.12"
toposort==1.10 ; python_version >= "3.10" and python_version < "3.12"
tqdm==4.66.4 ; python_version >= "3.10" and python_version < "3.12"
typer==0.12.3 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "3.12"
tzdata==2024.1 ; python_version >= "3.10" and python_version < "3.12"
universal-pathlib==0.2.2 ; python_version >= "3.10" and python_version < "3.12"
uritemplate==4.1.1 ; python_version >= "3.10" and python_version < "3.12"
urllib3==2.2.2 ; python_version >= "3.10" and python_version < "3.12"
watchdog==4.0.1 ; python_version >= "3.10" and python_version < "3.12"
wcwidth==0.2.13 ; python_version >= "3.10" and python_version < "3.12"
websocket-client==1.8.0 ; python_version >= "3.10" and python_version < "3.12"
xxhash==3.4.1 ; python_version >= "3.10" and python_version < "3.12"
yarl==1.9.4 ; python_version >= "3.10" and python_version < "3.12"
